@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@font-face {
  font-family: Void; /* Имя шрифта */
  src: url(18068.ttf); /* Путь к файлу со шрифтом */
 }
body {
  font-family: Void;
  text-indent: 5%;
}

.App {
  text-align: center;
  
}

td {
  width: 180px;
  border: 1px solid black;
  border-radius: 3px;
  vertical-align: middle;

}
.link__button{
  align: left;
}
.login__container {
  width: 300px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.login__inputForm {
  margin: 8px;
}


.boss__createTicket {
  float: right;
}

.boss__container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.boss__graphSelect{
  width: 500px;
}
.boss__grade {
  width: 100%;
  height: 10px;
  float: none;
}
.boss__selectPersone{
  width: 400px;
  display: inline-block;
  float: left;

}
.boss__ticketAppend {
  display: inline-block;
  float: right;
  margin-bottom: 10px;

}
.boss__table {
  padding-top: 30px;
  height: auto;
  width: 100%;
  margin-bottom: 50px;
  
}
.boss__planeOfSales{
  width: 300px;
  float: left;
}
.boss__uppendAdditionalTask {
  width: 100%;

}

.boss__additionalTasksHeader {
  float: left;
}

.boss__inputBlock {
  padding-top: 30px;
  height: auto;
  height: 160px;
}

.boss__input {
  margin: 3px;
  float: left;
}

.boss__inputGroupButton {
  width: 300px;
}

.boss__displayNO {
  display: none;
}
.boss__regularPlans{
}
.boss__sectorSelect{
  width: 600px;
}
.boss__agenda {
  display: block;
  margin-left: 30px;
  float: right;
  margin-bottom: 30px;
  width: 300px;
}
label {
  margin-top: 6px;
}

.profile__container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1vw;
}


.profile__hGraphics {
  margin-top: 40px;
}

.profile__XTitle {
  text-align: left;
}

.profile__YTitle {
  text-align: right;
}

.profile__title {
  width: 100%;
}

.profile__regularPlans {
}

.profile__titleButtons {

  display: inline-block;
}

.profile__titleButton {
  display: block;
  margin: 80px;
}

.profile__titlePlans {
  text-align: left;
}

.profile__countPlans {
  text-align: right;
}

.profile__table {
  display: block;
  float: left;
  margin-bottom: 30px;
}

.profile__agenda {
  display: block;
  margin-left: 30px;
  float: right;
  margin-bottom: 30px;

}

.profile__smartTicket {
  border-radius: 10px;
  border: 1px solid black;
  min-width: 80px;
  min-height: 50px;
  padding: 10px;
  margin: 10px;
}

.leader__selectPersone {
  width: 150px;
  margin-top: 10px;
}

.leader__additionalTasksHeader {
  float: left;
}

.leader__uppendAdditionalTask {
  margin-top: 10px;
  margin-bottom: 10px;
}

.leader__selectLineChart {
  float: left;
  width: 200px;
}

.leader__lineChartBlock {
  padding-top: 130px;
  display: block;
}

.leader__secondBlock {
  width: 100%;
  height: auto;
}





.presentation__footersHeader{
  text-align: left;
  margin-left: 40px;
}

.presentation__container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-left: 1px solid rgb(243, 235, 235);
  border-right: 1px solid rgb(243, 235, 235);
}

.presentation__text {
  text-align: left;
}


.presentation__header{
  padding-top: 30px;
}


ol {
  list-style: lower-alpha;
  text-align: left;
}









.cssload-loader {
  position: relative;
  left: calc(50% - 188px);
  width: 376px;
  height: 376px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  perspective: 4700px;
}

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 1.15s linear infinite;
  -o-animation: cssload-rotate-one 1.15s linear infinite;
  -ms-animation: cssload-rotate-one 1.15s linear infinite;
  -webkit-animation: cssload-rotate-one 1.15s linear infinite;
  -moz-animation: cssload-rotate-one 1.15s linear infinite;
  border-bottom: 18px solid rgb(0, 0, 0);
}

.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 1.15s linear infinite;
  -o-animation: cssload-rotate-two 1.15s linear infinite;
  -ms-animation: cssload-rotate-two 1.15s linear infinite;
  -webkit-animation: cssload-rotate-two 1.15s linear infinite;
  -moz-animation: cssload-rotate-two 1.15s linear infinite;
  border-right: 18px solid rgb(0, 0, 0);
}

.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 1.15s linear infinite;
  -o-animation: cssload-rotate-three 1.15s linear infinite;
  -ms-animation: cssload-rotate-three 1.15s linear infinite;
  -webkit-animation: cssload-rotate-three 1.15s linear infinite;
  -moz-animation: cssload-rotate-three 1.15s linear infinite;
  border-top: 18px solid rgb(0, 0, 0);
}